{% extends 'base.html'%}
{% block title %}
Change Password
{%endblock%}
{%block content %}
<div class="containter">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Enter new password</h4>
                </header>
                <article class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <p><label for="id_old_password">Old password:</label> <input type="password" name="old_password"
                                class="form-control" maxlength="100" required id="id_old_password"></p>
                        <p><label for="id_new_password1">New password</label> <input type="password"
                                name="new_password1" class="form-control" maxlength="100" required
                                id="id_new_password1"></p>
                        <p><label for="id_new_password2">Confirm New password</label> <input type="password"
                                name="new_password2" class="form-control" maxlength="100" required
                                id="id_new_password2"></p>
                        <div class="row"></div>
                        <button class="btn btn-info">Confirm</button>

            </div>
        </div>


        </article> <!-- card-body end .// -->

    </div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->

</div>

{% endblock %}