{%extends 'base.html'%}
{%block title %}
About us
{%endblock%}
{%block content %}
{%load static%}



<!-- about finatic  -->
<div class="container">

    <div class="row d-flex align-items-center">
        <div class="col-lg-6">
            <h2 class="text-info h1-responsive  font-weight-bold pb-2">About Finatic</h2>
            <p>Finatic is the goto platform for portfolio and investment analytics.
                Our quantitative tools help you make informed data-driven investment decisions.</p>
            <p>Our first product Portfolio Analyzer gives a complete analytical report on your Portfolio's backtested
                Performance, Risk Structure, Monte Carlo forecasts and much more:</p>
            <ul>
                <li>Model and analyze the performance of different portfolios based on our rich
                    set of
                    historical data</li>
                <li>Simulate and optimize portfolios based on historical returns</li>
                <li>Identify and test the risk factor exposures of your portfolio</li>
                <li>Test tactical asset allocations models that aim to offer better risk adjusted performance</li>
                <li>Generate reports and export data in PDF, Excel, and CSV formats</li>
            </ul>
        </div>
        <div class="col-lg-6 text-right d-lg-block d-none d-sm-none d-md-none">
            <img decoding="async" importance="low" loading="lazy" src="static/images/about-image.png"
                class="cornered-image" alt="about-image" style="    max-height: 650px;">
        </div>
    </div>

</div>
<div class="container">

    <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-right d-lg-block d-none d-sm-none d-md-none">
            <img decoding="async" importance="low" loading="lazy" src="static/images/data-bg.png"
                class="cornered-image" alt="about-image" style="max-height: 650px; max-width:550px;">
        </div>
        <div class="col-lg-6">
            <h2 class="text-info h1-responsive  font-weight-bold pb-2">Our Products</h2>
            <p>We strive to be the A-to-Z solution for Portfolio Investment Analytics and Research.</p>
            <p>Portfolio Analyzer is live now to get a complete analytical report for your portfolio.</p>
            <p>We are currently developing a bunch of quantitative tools and products for investors
                ranging from pre-built optimized and diversified Portfolio Store, to developing customizable
                personalized Portfolio based on your risk structure and ambition.!</p>
        </div>

    </div>

</div>

<hr>

<!-- our team -->
<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="text-info h1-responsive font-weight-bold my-5">Our Team</h2>
    <!-- Section description -->
    <p class="w-responsive mx-auto mb-5" style="max-width: 850px;">Finatic was founded in July 2020 by three IIT Roorkee
        fanatics, who are
        head over heels to explore and invent products for you with the application of Technology
        and Analytics in the field of Finance and Investment Management. </p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="static/images/profile_pic.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Rahul Agarwal</h5>
            <p class="text-uppercase blue-text"><strong>CoFounder</strong></p>
            <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci sed quia non numquam modi tempora eius.</p>
            <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic" href="#">
                    <i class="fab fa-linkedin blue-text"> </i>
                </a>
                <!-- Instagram -->
                <a class="p-2 fa-lg ins-ic" href="#">
                    <i class="fab fa-instagram blue-text"> </i>
                </a>
                <!-- mail -->
                <a class="p-2 fa-lg ins-ic" href="#">
                    <i class="fa fa-envelope"> </i>
                </a>
            </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="static/images/profile_pic.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Aditya Verma</h5>
            <p class="text-uppercase blue-text"><strong>CoFounder</strong></p>
            <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
                doloremque rem laudantium totam aperiam.</p>
            <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic" href="#" target="blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin blue-text"></i></a>
                <!-- Instagram -->
                <a class="p-2 fa-lg ins-ic" href="#" target="blank">
                    <i class="fab fa-instagram blue-text"></i>
                </a>
                <!-- mail -->
                <a class="p-2 fa-lg ins-ic" href="#">
                    <i class="fa fa-envelope"> </i>
                </a>
            </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img src="static/images/profile_pic.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Ali Nalawala</h5>
            <p class="text-uppercase blue-text"><strong>CoFounder</strong></p>
            <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim est fugiat nulla id eu laborum.</p>
            <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic" href="#">
                    <i class="fab fa-linkedin blue-text"> </i>
                </a>
                <!-- Instagram -->
                <a class="p-2 fa-lg ins-ic" href="#">
                    <i class="fab fa-instagram blue-text"> </i>
                </a>
                <!-- mail -->
                <a class="p-2 fa-lg ins-ic" href="#">
                    <i class="fa fa-envelope"> </i>
                </a>

            </ul>
        </div>
        <!-- Grid column -->



    </div>
    <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
</div>
{%endblock%}