{% block content %}
<style>
    a {
        color: black;
    }
    
</style>
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #5bc0de;">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase text-center">
                    <a href="{%url 'about'%}">Finatic</a>
                </h5>
                <p>
                    Finatic is the goto platform to make informed data-driven investment decisions. 
                    Let us help you, take your first step into the world of Investments.
                </p>
                <p>
                    Build your personalized portfolio from scratch, customized to your 
                    risk apetite, ambition and the current market trends.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3" />

            <div class="col-md-2 mb-md-0 mb-2 ml-auto">
                <!-- Links -->
                <h5>Company</h5>

                <ul class="list-unstyled" style="text-decoration: none;">
                    <li class="">
                        <a href="{%url 'about'%}">About Us</a>
                    </li>
                    <li>
                        <a href="#">Blogs</a>
                    </li>
                    <li>
                        <a href="#">Partners</a>
                    </li>
                    <li>
                        <a href="#">Disclaimer</a>
                    </li>

                </ul>
            </div>

            <div class="col-md-2 mb-md-0 mb-2 ml-auto">
                <!-- Links -->
                <h5>Products</h5>

                <ul class="list-unstyled" style="text-decoration: none;">
                    <li class="">
                        <a href="{% url 'your_portfolio' %}">Portfolio Analyzer</a>
                    </li>
                    <li>
                        <a href="#">Portfolio Creator</a>
                    </li>
                    <li>
                        <a href="#">Coming Soon</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3" />

    <div class="footer-copyright text-center py-3">
        © 2020 Copyright Email:
        <a href="mailto:teamfinatic3@gmail.com">teamfinatic3@gmail.com</a>
        <p><a href="#top">back to top</a></p>
    </div>
</footer>
{% endblock %}