{%extends 'base.html'%}
{%block title %}
Home
{%endblock%}
{%block content %}
{%load static%}

<link rel="stylesheet" href="{%static 'css/landing.css'%}">


<style>
    * {

        box-sizing: border-box;
    }

    .content-box {
        border-style: solid;
        border-width: 1px 1px 3px;
        border-color: #ccc;
        border-bottom-color: #5bc0de;
        padding: 0 7% 10px;
        border-radius: 3px;
        margin-bottom: 20px;
        margin-top: 50px;
        color: #444;
        background: #fff;
    }



    h2 {
        padding-top: 3px;
        text-align: center;
    }

    .icon-position {
        margin: -70px auto 35px;
        position: relative;
        left: auto;
        top: auto;
        width: 80px;
        height: 80px;
    }

    .fa-stack {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
    }

    .fa-4x {
        font-size: 4em;
    }

    .fa-stack-2x {
        font-size: 1.5em;
    }



    .fa {
        display: inline-block;

        line-height: 1.35;
    }

    .icon-background {
        color: #5bc0de85;
    }

    .links {
        border-top: 1px solid #e5e5e5;
    }

    .links a {
        display: block;
        text-align: center;
    }

    a {
        color: #5bc0de;
        text-decoration: none;
    }

    a {
        background-color: transparent;
    }

    .jumbotron {
        background-size: cover;
        color: white;
        background-repeat: repeat-y;
        height: 600px;


    }
</style>
<style>
    .mbr-white {
        color: #ffffff;
    }
    .foo{
        @media (max-width: 768px) .display-1 {
            font-size: 4.16rem;
            font-size: calc(2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20)));
            line-height: calc(1.4 * (2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20))));
        }
    }

    .display-1 {
        font-family: 'Pacifico', sans-serif;
        font-size: 5.2rem;
    }

    .mbr-section-title {
        font-style: normal;
        line-height: 1.2;
    }

    .mbr-bold {
        font-weight: 700;
    }
    .foo{
        @media (max-width: 768px) .display-5 {
            font-size: 1.28rem;
            font-size: calc(1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
            line-height: calc(1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
        }
    }

    .display-5 {
        font-family: 'Muli', sans-serif;
    }
</style>
{%for i in message%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{i}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->
<div class="jumbotron jumbotron-fluid" style="background-image: url('{%static "images/main.png"%}')">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>We provide the best platform for <strong>Portfolio Analytics</strong></h1>
                    <p>We leverage Artificial Intelligence to help Indian Investors make data-driven investment decisions.!</p>
                    <a href="#features" class="main-button-slider">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->
</div>


<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" href="{% url 'your_portfolio' %}">
                        <a href="{% url 'your_portfolio' %}"> 
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{%static 'images/featured-item-01.png'%}" alt="" href="{% url 'your_portfolio' %}"></i>
                                </div>
                                <h5 class="features-title" >Portfolio Analytics</h5>
                                <p >Get a detailed analytical report of your portfolio</p>
                            </div>
                        </a>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{%static 'images/featured-item-01.png'%}" alt=""></i>
                            </div>
                            <h5 class="features-title">Portfolio Marketplace</h5>
                            <p>Choose your favourite portfolio from 100+ AI generated portfolios</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="{%static 'images/featured-item-01.png'%}" alt=""></i>
                            </div>
                            <h5 class="features-title">Portfolio Creator</h5>
                            <p>Create your own portfolio customized to your risk apetite</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="{%static 'images/left-image.png'%}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Who are we ?</h2>
                </div>
                <div class="left-text">
                    <p>Finatic is the goto platform to make informed data-driven investment decisions. 
                        Let us help you, take your first step into the world of Investments, leveraging
                         Artificial Intelligence.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">We can help you to grow your Money</h2>
                </div>
                <div class="left-text">
                    <p>Build your personalized AI generated portfolio from scratch, customized to your risk apetite, ambition and the current market trends.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="{%static 'images/right-image.png'%}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="{%static 'images/left-image.png'%}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Analyze your Portfolio</h2>
                </div>
                <div class="left-text">
                    <p>Get a complete report on your Portfolio's backtested Performance, Risk structure, Monte Carlo forecasts and much more. Get many more advanced tools used by Mutual Fund Companies to manage your own porfolio at your finger tips.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Work Process</h1>
                        <p>How we leverage data with the help of Artificial Intelligence to give investment insights.! </p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{%static 'images/work-process-item-01.png'%}" alt=""></i>
                        <strong>Input</strong>
                        <span>You give us your requirements.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{%static 'images/work-process-item-01.png'%}" alt=""></i>
                        <strong>Explore Data</strong>
                        <span>We collect accurate data from various APIs</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{%static 'images/work-process-item-01.png'%}" alt=""></i>
                        <strong>Process</strong>
                        <span>We Process data through our AI Algorithms to output crypted insights</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{%static 'images/work-process-item-01.png'%}" alt=""></i>
                        <strong>Decrypt</strong>
                        <span>We decrypt output to obtain Portfolio insights</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{%static 'images/work-process-item-01.png'%}" alt=""></i>
                        <strong>Optimize</strong>
                        <span>We optimize the portfolio.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{%static 'images/work-process-item-01.png'%}" alt=""></i>
                        <strong>Analyze</strong>
                        <span>We give completely analyzed report.</span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->

<!-- ***** Testimonials Start ***** -->
<section class="section" id="testimonials">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">What we aim to do?</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{%static 'images/testimonial-icon.png'%}" alt=""></i>
                        <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Ali Nalawala</h3>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
            
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{%static 'images/testimonial-icon.png'%}" alt=""></i>
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Aditya Verma</h3>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
            
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{%static 'images/testimonial-icon.png'%}" alt=""></i>
                        <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie. Ut vehicula et diam at aliquam.</p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Rahul Agrawal</h3>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Testimonials End ***** -->

<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Pricing Plans</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Starter</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">14.50</span>
                            <span class="period">monthly</span>
                        </div>
                        <ul class="list">
                            <li class="active">60 GB space</li>
                            <li class="active">600 GB transfer</li>
                            <li class="active">Pro Design Panel</li>
                            <li>15-minute support</li>
                            <li>Unlimited Emails</li>
                            <li>24/7 Security</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="main-button">Purchase Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Premium</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">21.50</span>
                            <span class="period">monthly</span>
                        </div>
                        <ul class="list">
                            <li class="active">120 GB space</li>
                            <li class="active">1200 GB transfer</li>
                            <li class="active">Pro Design Panel</li>
                            <li class="active">15-minute support</li>
                            <li>Unlimited Emails</li>
                            <li>24/7 Security</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="main-button">Purchase Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Advanced</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">42.00</span>
                            <span class="period">monthly</span>
                        </div>
                        <ul class="list">
                            <li class="active">250 GB space</li>
                            <li class="active">5000 GB transfer</li>
                            <li class="active">Pro Design Panel</li>
                            <li class="active">15-minute support</li>
                            <li class="active">Unlimited Emails</li>
                            <li class="active">24/7 Security</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="main-button">Purchase Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->

<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>126</strong>
                        <span>Portfolios</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-top">
                        <strong>63</strong>
                        <span>Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>18</strong>
                        <span>Awards Wins</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>27</strong>
                        <span>Tools</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Counter Parallax End ***** -->   

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Blog Entries</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="{%static 'images/blog-item-01.png'%}" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Vivamus ac vehicula dui</a>
                        </h3>
                        <div class="text">
                           Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="{%static 'images/blog-item-02.png'%}" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Phasellus convallis augue</a>
                        </h3>
                        <div class="text">
                            Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="{%static 'images/blog-item-03.png'%}" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Nam gravida purus non</a>
                        </h3>
                        <div class="text">
                            Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog End ***** -->

<!-- jQuery -->
<script src="{%static 'js/jquery-2.1.0.min.js'%}"></script>

<!-- Bootstrap -->
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>

<!-- Plugins -->
<script src="{%static 'js/scrollreveal.min.js'%}"></script>
<script src="{%static 'js/waypoints.min.js'%}"></script>
<script src="{%static 'js/jquery.counterup.min.js'%}"></script>
<script src="{%static 'js/imgfix.min.js'%}"></script> 

<!-- Global Init -->
<script src="{%static 'js/custom.js'%}"></script>


{%endblock%}