{%extends 'base.html'%}
{%block title %}
Portfolio Analyser
{%endblock%}
{%block content %}
{%load static%}


<!-- Our Custom CSS -->

<link rel="stylesheet" href="{%static 'css/style5.css'%}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Portfolio Analyzer</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio Statistics</a>
            </li>
            <li>
                <a href="#">Historical Analysis</a>
            </li>
            <li>
                <a href="#">Optimization</a>
            </li>
            <li>
                <a href="#">Predictive Analysis</a>
            </li>
        </ul>


    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

            </div>
        </nav>
        <div>
            <br>
            <h2 class="text-info h1-responsive  font-weight-bold pb-2">Report</h2>
            <br>
            <div id="table_diva"></div>
            <br>
            <div>
                <p> Current Value = {{Current_Value}} </p>
                <p> Invested Value = {{Invested_value}} </p>
                <p> Profit / Loss = {{Profit_loss}} </p>
            </div>
            <br>
            <div>
                <h6> Original Portfolio Statistics--></h6>
                <p>Expected annual return = {{percent_ret1}} </p>
                <p>Annual volatility/standard deviation/risk = {{percent_vols1}}</p>
                <p>Annual variance = {{percent_var1}}</p>
            </div>
            <br>
            <div class="row">
                <div class="col" style="height: 400;">
                    <canvas id="myCharta"></canvas>
                </div>
                <div class="col" style="height: 400;">
                    <canvas id="myChartb"></canvas>
                </div>
            </div>
            <br>
            <div id="table_divc"></div>
            <br>
            <p>Weighted PE = {{weighted_pe}}</p>
            <br>
            <br>
            <br>
            <br>
            <div id="table_divb"></div>
            <br>
            <div class="row">
                <div class="col" style="height: 400;">
                    <h6> Original Portfolio Statistics--></h6>
                    <p>Expected annual return = {{percent_ret1}} </p>
                    <p>Annual volatility/standard deviation/risk = {{percent_vols1}}</p>
                    <p>Annual variance = {{percent_var1}}</p>
                </div>
                <div class="col" style="height: 400;">
                    <h6> Optimized Portfolio Statistics--></h6>
                    <p>Expected annual return = {{percent_ret2}} </p>
                    <p>Annual volatility/standard deviation/risk = {{percent_vols2}}</p>
                    <p>Annual variance = {{percent_var2}}</p>
                </div>
            </div>
            
        </div>

        </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>
<!---------------------------Pie Chart-a--------------------------------------------->
<script>
    var sect = [[]];
    var sect = JSON.parse("{{sector|escapejs}}");
    console.log(sect)
    var data = {
        datasets: [{
            backgroundColor: ['#67f581', '#1abbde', '#fffe2b', '#345de3', '#0033da', '#5ca06d', '#27fa3a', '#07d58f', '#ee2d80', '#5bc0de'],
            data: sect['1']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: sect['2']
    };
    var ctx = document.getElementById("myCharta");
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        //options: options
    });
</script>

<!----------------------------Pie Chart--b------------------------------------------>
<script>
    var ind = [[]];
    var ind = JSON.parse("{{industry|escapejs}}");
    console.log(sect)
    var data = {
        datasets: [{
            backgroundColor: ['#67f581', '#1abbde', '#fffe2b', '#345de3', '#0033da', '#5ca06d', '#27fa3a', '#07d58f', '#ee2d80', '#5bc0de'],
            data: ind['1']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: ind['2']
    };
    var ctx = document.getElementById("myChartb");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        //options: options
    });
</script>

<!---------------------------Stat Table--------------------------------------------->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['table'] });
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        var arr = [[]];
        var arr = JSON.parse("{{paradict|escapejs}}");
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Company');
        data.addColumn('number', 'Quantity');
        data.addColumn('number', 'Buy Price');
        data.addColumn('number', 'Current Price');
        data.addColumn('number', 'Buy Value');
        data.addColumn('number', 'Current Value');
        data.addColumn('number', 'Profit / Loss');
        data.addColumn('number', 'Weightage');

        data.addRows(
            arr['1'],
        );

        var table = new google.visualization.Table(document.getElementById('table_diva'));

        table.draw(data, { showRowNumber: true, width: '100%', height: '100%' });
    }
</script>
<!------------------------Optimized Table------------------------------------------>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['table'] });
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        var arr = [[]];
        var arr = JSON.parse("{{optdict|escapejs}}");
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Company');
        data.addColumn('number', 'Quantity');
        data.addColumn('number', 'Buy Price');
        data.addColumn('number', 'Current Price');
        data.addColumn('number', 'Buy Value');
        data.addColumn('number', 'Current Value');
        data.addColumn('number', 'Profit / Loss');
        data.addColumn('number', 'Weightage');
        data.addColumn('number', 'Optimized Weightage');
        data.addColumn('number', 'Optimized Value');
        data.addColumn('number', 'Optimized Quantity');

        data.addRows(
            arr['1'],
        );

        var table = new google.visualization.Table(document.getElementById('table_divb'));

        table.draw(data, { showRowNumber: true, width: '100%', height: '100%' });
    }
</script>
<!------------------------Individual Asset list---------------------------------->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['table'] });
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        var arr = [[]];
        var arr = JSON.parse("{{pe|escapejs}}");
        console.log(arr)
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Company');
        data.addColumn('string', 'Industry');
        data.addColumn('number', 'Price to Earning Ratio (TTM)');
        data.addColumn('number', 'Basic EPS (TTM)');
        //data.addColumn('number', 'Current Value');


        data.addRows(
            arr['1'],
        );

        var table = new google.visualization.Table(document.getElementById('table_divc'));

        table.draw(data, { showRowNumber: true, width: '100%', height: '100%' });
    }
</script>


{%endblock%}
